@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  unicode-range: U+0030-0039 U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('../assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  unicode-range: U+0030-0039 U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

h1,
h2,
h3 {
  font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
  color: #000;
  opacity: 0.88;
  font-weight: bold;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.bold {
  font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold' !important;
}
.spoqa {
  font-family: 'SpoqaHanSansNeo' !important;
  &__bold {
    font-family: 'SpoqaHanSansNeo-Bold' !important;
  }
}
p,
a,
span {
  font-family: 'Montserrat', 'SpoqaHanSansNeo';
  color: #333333;
  text-decoration: none;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.elysia {
  background-color: #fff;
  white-space: pre-line;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .logo-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer !important;
  }
  .main {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    &__loan {
      margin: 0 auto;
      text-align: center;
      &__button {
        border-radius: 5px;
        background-color: #00bfff;
        box-shadow: 0px 0px 6px #00bfff81;
        cursor: pointer !important;
        margin: 25px auto;
        > p {
          color: #ffffff;
          margin: 0;
          cursor: pointer !important;
        }
      }
      &__arrow {
        margin: auto 0;
        height: 37px;
        object-fit: scale-down;
        cursor: pointer;
      }
      &__container {
        display: flex;
        justify-content: space-between;
        > .portfolio__asset-list__info {
          transform: scale(0.85);
        }
      }
      > div {
        > div {
          > h2 {
            color: #00bfff;
            margin-top: 140px;
          }
        }
      }
    }
    &__content {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0 auto;
      height: 105%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > p {
        color: #fff;
        margin: 20px;
      }
      > h1 {
        color: #fff;
        margin: 0;
      }
      > h3 {
        color: #00bfff;
        margin: 0 0 30px 0;
      }
      &--blue {
        font-family: 'Montserrat-bold';
        color: #00bfff;
      }
    }
    &__down-arrow {
      margin: 0 auto;
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      height: 10vh;
      > img {
        cursor: pointer;
        padding: 20px 15px;
        animation: DownArrow 0.8s linear infinite alternate;
      }
    }
  }
  .loan {
    margin: 0 auto;
    &__select-box {
      position: relative;
      border: 1px solid #262626;
      border-radius: 3px;
      cursor: pointer;
      > p {
        margin: 0;
        cursor: pointer;
      }
      &__attribute {
        position: absolute;
        border: 1px solid #262626;
        width: 90%;
        top: 40px;
        left: 5%;
        display: flex;
        flex-direction: column;
        > p {
          margin: 0px;
          padding: 7px;
          cursor: pointer;
          &:first-child {
            border-bottom: 1px solid #cccccc;
          }
        }
      }
    }
  }
  .jnavigation {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    transition: all 0.25s ease-in-out;
    box-sizing: border-box;
    &__link {
      color: #fff;
      cursor: pointer !important;
    }
  }
  .footer {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      .footer-guide-link {
        color: #ffffff;
        cursor: pointer;
      }
    }
    &__white-logo {
      display: inline;
      width: 100px;
      height: 25.667px;
    }
    &__copyright {
      display: block !important;
      text-align: center;
      > p {
        color: #fff;
        margin: 0;
        // padding: 10px;
        margin-bottom: 20px;
      }
    }
    &__line {
      border-color: #00a7ff;
      width: 0;
      height: 30px;
    }
    &__logo {
      display: flex;
      float: right;
      height: 26px;
      justify-content: space-between;
      > a {
        > img {
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
      }
    }
  }
  .lang {
    position: relative;
    &__select-image {
      display: inline-block;
      width: 26px;
      height: 26px;
      position: relative;
      &__text {
        display: inline-block;
        color: #fff;
        margin: 0;
      }
    }
    &__image-wrapper {
      justify-content: space-between;
      flex-direction: column;
      position: absolute;
      bottom: 45px;
      height: 67px;
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > p {
          text-shadow: 0px 0px 5px #000000;
        }
      }
    }
    &__button-wrapper {
      justify-content: space-between;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }
  }
  .works {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &__image {
      object-fit: scale-down;
    }
    &__container {
      margin: 150px 0;
    }
    &__header-text {
      margin-bottom: 20px;
    }
    &__text {
      line-height: 25px;
    }
    .title-text {
      margin: 0 auto 40px;
      text-align: center;
      &--bold {
        text-align: center;
        color: #00a7ff;
      }
    }
  }
  .forum {
    height: 100%;
    background-color: #11071b;
    &__content {
      > p {
        text-align: left;
      }
    }
    &__header-text {
      margin: 0;
      text-align: center;
      color: #fff;
      &--blue {
        color: #00bfff;
        margin-right: 15px;
        font-family: 'Montserrat-bold';
      }
    }
    &__table {
      margin: 0 auto;
      display: table;
      border-collapse: collapse;
      tbody {
        border-bottom: 2px solid #ffffff;
        border-top: 2px solid #ffffff;
        > tr {
          border-top: 1px solid #4c4d72;
          > th {
            > p {
              margin: 25px 0;
            }
          }
        }
      }
      thead > tr > th > p {
        margin: 0 0 10px;
      }
      &-subject {
        font-family: 'Montserrat-bold';
        cursor: pointer;
      }
      :nth-child(2) {
        text-align: left;
        padding-left: 10px;
      }
      :nth-child(3) {
        text-align: center;
      }
      :nth-child(4) {
        text-align: center;
      }
      tr > th > p {
        color: #fff;
      }
    }
    &__footer-logo {
      cursor: pointer;
    }
  }
  .market {
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    &__title {
      margin: 0 auto;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      > h2 {
        margin: 20px;
        color: #ffffff;
      }
      > h3 {
        color: #00bfff;
      }
    }
    &__link-wrapper {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      box-sizing: border-box;
      background-color: transparent;
      box-shadow: 0px 0px 6px #00000029;
      border: 1px solid #ffffff;
      display: flex;
      justify-content: space-evenly;
      border-radius: 5px;
      flex-direction: row;
      text-align: left;
      align-items: center;
      > p {
        margin: 0;
        cursor: pointer;
      }
      > p:first-child {
        color: #ffffff;
      }
      > p:last-child {
        color: #ffffff;
      }
    }

    &__detail {
      &__page-container {
        position: relative;
      }
      &__button {
        background-color: #00bfff;
        border-radius: 5px;
        cursor: pointer;
        > p {
          text-align: center;
          color: #ffffff;
          cursor: pointer;
        }
      }
      &__title-token {
        position: relative;
        margin: 0 auto;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        background-color: #fff;
        &--popup {
          position: absolute;
          background: #fff;
          box-shadow: 0px 0px 10px #00000029;
          box-sizing: border-box;
          border-radius: 5px;
          opacity: 0;
          > h2 {
            margin: 0;
          }
        }
        &__token {
          &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
              display: flex;
              align-items: center;
              justify-content: left;
            }
          }
          &-type {
            margin: 0;
          }
        }
        &__data-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
        }
        &__data-wrapper {
          > p {
            margin: 0;
            text-align: center;
            &:first-child {
              color: #888888;
            }
            &:last-child {
              color: #333333;
              font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
            }
          }
          &--popup {
            display: flex;
            align-items: center;
            justify-content: center;
            > p {
              margin: 0;
              &:first-child {
                color: #888888;
              }
            }
            &__icon {
              font-size: 12px;
              line-height: 13px;
              border: 1px solid #4c4d72;
              width: 12px;
              height: 12px;
              text-align: center;
              border-radius: 12px;
              margin: 0 0 0 5px !important;
              cursor: pointer;
            }
          }
        }
      }
      &__container {
        margin: 0 auto;
      }
      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &__pie-chart {
        margin: 0 auto;
        box-sizing: border-box;
        &__data {
          border-top: 1px solid #f0f0f1;
          > div {
            display: flex;
            justify-content: space-between;
            > p {
              font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
            }
          }
          &__block {
            width: 12px;
            height: 12px;
            border-radius: 3px;
            &__wrapper {
              display: flex;
              justify-content: left;
              align-items: center;
              > p {
                color: #888888;
                margin: 0;
              }
            }
          }
          &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > p {
              margin: 0;
              color: #888888;
            }
            &--total {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #f0f0f1;
              > p {
                margin: 0;
              }
            }
          }
        }
        &__wrapper {
          box-sizing: border-box;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 6px #00000029;
          border-radius: 5px;
        }
      }
      &__graph {
        margin: 0 auto;
        box-sizing: border-box;
        &__converter {
          border-bottom: 5px solid #333333;
          padding-bottom: 10px;
          cursor: pointer;
          &--disable {
            border-bottom: 5px solid #b7b7b7;
            padding-bottom: 10px;
            cursor: pointer;
            > p {
              margin: 0;
              color: #b7b7b7;
              cursor: pointer;
            }
          }
          > p {
            margin: 0;
            color: #333333;
            cursor: pointer;
          }
          &__wrapper {
            display: flex;
            justify-content: left;
            align-items: center;
          }
        }
        &__wrapper {
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 6px #00000029;
          border-radius: 5px;
        }
      }
    }
  }
  .tokens {
    margin: 0 auto;
    &__table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 15px;
      &__image {
        padding: 10px 5px;
        &--disable {
          background-color: #1c1c1ca2;
          position: absolute;
        }
        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          > p {
            margin: 0 0 0 10px;
            cursor: pointer;
          }
        }
      }
      &__apr {
        border: 0.5px solid #707070;
        border-radius: 3px;
        font-family: 'SpoqaHanSansNeo';
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        > img {
          margin: 0px 1px 0px 2px;
        }
        > p {
          margin: 0;
          &::after {
            content: 'APR';
            font-family: 'SpoqaHanSansNeo';
            color: #888888;
            font-weight: 200;
          }
        }
      }
      &__button {
        border: 1px solid #333333;
        border-radius: 3px;
        margin: 0 auto;
        > p {
          color: #333333;
          margin: 0;
        }
        &--disable {
          border: 1px solid #b7b7b7;
          border-radius: 3px;
          margin: 0 auto;
          > p {
            color: #b7b7b7;
            margin: 0;
          }
        }
      }
      &__body {
        cursor: pointer;
      }
      &__row {
        cursor: pointer;
        background: #ffffff;
        box-shadow: 0px 0px 6px #00000029;
        -webkit-box-shadow: 0px 0px 6px #00000029;
        -moz-box-shadow: 0px 0px 6px #00000029;
        box-sizing: border-box;
        &:hover {
          box-shadow: 0px 0px 16px #00000029;
          transition: all 0.5 ease-in-out;
        }
        &--disable {
          background: #ffffff;
          box-shadow: 0px 0px 6px #00000029;
          &:hover {
            background: #cccccca2;
          }
          > th {
            > p {
              color: #b7b7b7;
            }
          }
          > div {
            > div {
              > p {
                color: #b7b7b7;
              }
            }
          }
        }
      }
    }
  }
  .portfolio {
    margin: 0 auto;
    &__investment-status {
      display: flex;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0px 0px 6px #00000029;
      justify-content: space-between;
      > table {
        border: 1px solid #f0f0f1;
        flex: 1;
        border-collapse: collapse;
        > tr {
          > td {
            border: 1px solid #f0f0f1;
            &:first-child {
              width: 270px;
              box-sizing: border-box;
              > p {
                color: #888888;
                text-align: left;
              }
            }
            &:last-child {
              box-sizing: border-box;
              text-align: right;
              > p {
                color: #333;
              }
            }
          }
        }
      }
    }
    &__chart {
      display: flex;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0px 0px 6px #00000029;
      justify-content: space-between;
      flex-direction: column;
    }
    .progress-bar {
      background-color: #888888;
      position: relative;
      display: flex;
      background-repeat: no-repeat;
      background-image: linear-gradient(#00bfff, #00bfff),
        linear-gradient(#7d17d6, #7d17d6), linear-gradient(#244dc4, #244dc4),
        linear-gradient(#0ce8e5, #0ce8e5);
      &__value {
        position: absolute;
        box-shadow: 0px 0px 6px #00000029;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        > p {
          margin: 0;
        }
      }
      &__content {
        width: 100%;
        border: 1px solid #f0f0f1;
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        > div {
          display: flex;
          justify-content: left;
          align-items: center;
          :nth-child(1) > div {
            background-color: #00bfff;
          }
          :nth-child(2) > div {
            background-color: #7d1dd6;
          }
          :nth-child(3) > div {
            background-color: #244dc4;
          }
          :nth-child(4) > div {
            background-color: #0ce8e5;
          }
          > div {
            display: flex;
            align-items: center;
            > div {
              border-radius: 3px;
              width: 12px;
              height: 12px;
            }
            > p {
              margin: 0;
            }
          }
        }
      }
    }
    &__asset-list {
      &__container {
        margin: 0 auto;
      }
      &__info {
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        cursor: pointer;
        > iframe {
          cursor: pointer;
        }
        &__status {
          margin: 0;
          text-align: center;
          color: #333333;
          cursor: pointer;
        }
        &__value {
          cursor: pointer;
          color: #888888;
          &__container {
            box-sizing: border-box;
            cursor: pointer;
          }
          &__wrapper {
            border-bottom: 1px solid #f0f0f1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            > div {
              cursor: pointer;
              > p {
                cursor: pointer;
              }
              > span {
                cursor: pointer;
              }
            }
          }
          &__wrapper:last-child {
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    &__info {
      margin: 0 auto;
      &__container {
        border-radius: 5px;
        display: flex;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px #00000029;
      }
      &__collateral {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          > img {
            object-fit: none;
          }
        }
        > table {
          border-spacing: 0px;
          border-collapse: separate;
          border: 1px solid #e6e6e6;
          table-layout: fixed;
          box-sizing: border-box;
          > tr {
            &:first-child {
              > td {
                border-top: 0;
                > p {
                  text-align: center;
                }
              }
            }
            > td {
              border-left: 1px solid #e6e6e6;
              border-top: 1px solid #e6e6e6;
              box-sizing: border-box;
              &:first-child {
                border-left: 0;
              }
              padding: 0px 15px;
              > p {
                margin: 0px;
                line-break: anywhere;
              }
              &:last-child {
                > p {
                  font-family: 'SpoqaHanSansNeo-bold';
                }
              }
            }
          }
        }
      }
      &__table {
        // width: 100%;
        flex: 1;
        border-radius: 6px;
        border-spacing: 0px;
        border-collapse: separate;
        border: 1px solid #e6e6e6;
        table-layout: fixed;
        box-sizing: border-box;
        > tr:first-child {
          > td {
            border-top: 0px;
          }
          :first-child {
            border-radius: 5px 0 0 0;
          }
        }
        > tr {
          box-sizing: border-box;
          &:first-child {
            > td {
              border-top: 0px;
              &:first-child {
                border-radius: 5px 0 0 0;
              }
            }
          }
          > td {
            border-left: 1px solid #e6e6e6;
            border-top: 1px solid #e6e6e6;
            > p,
            a {
              margin: 0px;
              line-break: anywhere;
              font-size: 14px;
            }
          }
        }
        &__title {
          background-color: #f5f5f5;
          border-left: 0px !important;
          box-sizing: border-box;
          position: relative;
          > p {
            color: #646464;
            display: inline-block;
          }
          &--last {
            background-color: #f5f5f5;
            box-sizing: border-box;
            border-left: 0px !important;
            border-radius: 0 0 0 5px;
            > p {
              color: #646464;
            }
          }
          &--second {
            table-layout: fixed;
            > p {
              color: #646464;
            }
          }
        }
      }
      &__popup {
        width: 12px;
        height: 12px;
        border: 1px solid #888888;
        border-radius: 12px !important;
        font-size: 12px !important;
        text-align: center;
        line-height: 12px;
        display: inline-block;
        margin: 0;
        position: relative;
        bottom: 2px;
        color: #888888;
        left: 3px;
        cursor: pointer;
        &__showing {
          position: absolute;
          background-color: #ffffff;
          box-shadow: 0px 0px 6px #00000029;
          z-index: 99;
        }
      }
      &__details {
        &__image {
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          display: flex;
          justify-content: center;
        }
      }
      &__abtoken-info {
        display: flex;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
      }
      &__google-map {
        &__wrapper {
          border: 1px solid #c0c0c0;
          border-radius: 5px;
        }
      }
    }
  }
  .google-visualization-tooltip {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    background-color: #ffffff !important;
    // box-shadow: 0px 0px 6px #00000029 !important;
    border-radius: 5px;
    padding: 8px;
    width: 220px !important;
    ul li {
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;
      > span {
        color: #888888 !important;
        font-family: 'SpoqaHanSansNeo-Bold' !important;
        &:nth-child(2) {
          flex: 1;
          font-family: 'SpoqaHanSansNeo-Bold' !important;
        }
        &:last-child {
          color: #00bfff !important;
        }
      }
      > div {
        display: none !important;
      }
      &:first-child {
        display: none !important;
      }
      &:nth-child(2) {
        &::after {
          content: '%';
          color: #00bfff;
          font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
          line-height: 19px;
        }
      }
    }
  }
  .market__detail__graph div div div div svg g {
    // transform: scale(1.2) translate(-10%, -10%);
    > g rect {
      rx: 5;
      ry: 5;
      &:hover {
        fill: #00a7ff;
        stroke: transparent;
        z-index: 99;
        rx: 5;
        ry: 5;
      }
    }
    > g g g rect {
      fill: #00a7ff;
      stroke: transparent;
      z-index: 99;
      rx: 5;
      ry: 5;
    }
    > g g circle {
      stroke: transparent;
      fill: #1c5e9a;
      r: 6;
    }
  }

  .jreward {
    margin: 0px auto;
    position: relative;
    &__governance-title {
      box-sizing: border-box;
      box-shadow: 0px 0px 6px #00000029;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 99;
      background-color: #fff;
      > div {
        &:first-child {
          > div {
            display: flex;
            align-items: center;
            > div {
              width: 9px;
              height: 9px;
              border-radius: 9px;
              background-color: #00bfff;
              margin-right: 15px;
            }
            > p {
              margin: 0;
            }
          }
          > p {
            word-break: keep-all;
          }
        }
        &:last-child {
          border: 4px solid #f8f8f8;
          box-sizing: border-box;
          > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > div {
              > p {
                margin: 0;
                text-align: center;
              }
              &:nth-child(1) {
                background-color: #00a7ff;
                border-radius: 10px;
                > p {
                  color: #fff;
                }
              }
              &:nth-child(2) {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                > div {
                  flex: 2;
                  text-align: center;

                  > p {
                    margin: 0;
                    word-break: keep-all;
                  }
                }
                .dashed_arrow {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  flex: 1;
                  margin: 0;
                  .line {
                    height: 100%;
                    width: 0px;
                    border: 1px dashed #00a7ff;
                  }
                  .up_arrow {
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 10px solid #00a7ff;
                  }
                  .down_arrow {
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 10px solid #00a7ff;
                  }
                }
              }
              &:nth-child(3) {
                border: 2px solid #00a7ff;
                > p {
                  color: #00a7ff;
                }
              }
            }
          }
        }
      }
    }
    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      &--tokens {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          &:last-child {
            box-sizing: border-box;
            box-shadow: 0px 0px 6px #00000029;
            border-radius: 5px;
            > img {
              margin-right: 8px;
            }
            > p {
              margin: 0;
            }
          }
        }
      }
    }
    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > div > p {
        margin: 10px 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
          color: #888888;
        }
      }
    }
    &__button {
      box-shadow: 0px 0px 6px #00000029;
      box-sizing: border-box;
      color: #333333;
      border: 1px solid #333333;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
      background: #ffffff;
      > p {
        margin: 0;
        cursor: pointer;
      }
    }
    .jcontainer {
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0px 0px 6px #00000029;
      display: flex;
      flex-direction: column;
    }
    &__progress-bar {
      color: #e6e6e6;
      margin-top: 5px;
      &__wrapper {
        position: relative;
      }
      &__content {
        position: absolute;
        display: flex;
        justify-content: space-between;
        &__fill {
          border-right: 1px solid #333333;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          text-align: right;
          > p {
            margin: 0;
          }
        }
        .disable {
          border-right: 1px solid #b7b7b7;
          > p {
            color: #b7b7b7;
          }
        }
      }
      &::-webkit-progress-bar {
        border: 0;
        background: #e6e6e6;
      }
      &::-webkit-progress-value {
        border: 0;
      }
      &::-moz-progress-bar {
        border: 0;
      }
    }
    .jreward__progress-content {
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &:first-child {
          > p {
            color: #888888;
          }
        }
        &:nth-child(2) {
          > p:last-child {
            color: #888888;
            > span {
              color: #888888;
            }
          }
        }
        > p {
          margin: 0px;
          color: #333333;
          > span {
            color: #00a7ff;
          }
        }
      }
    }
    &__staking-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #e6e6e6;
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > p {
          color: #333333;
        }
        > div {
          display: flex;
          align-items: center;
          > p {
            color: #333333;
            position: relative;
          }
          > span {
            color: #888888;
            position: relative;
          }
        }
        &:first-child {
          border-right: 1px solid #e6e6e6;
          flex: 1;
        }
        &:last-child {
          text-align: right;
          flex: 1;
        }
      }
    }
    &__apy-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #e6e6e6;
      &--left {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        flex: 1;
        align-items: center;
        > p {
          margin: 0;
        }
        > div {
          display: flex;
          flex-direction: column;
          // align-items: right;
          text-align: right;
          margin-bottom: 2px;
          justify-content: center;
          > p {
            margin: 0;
          }
          > div {
            border: 0.5px solid #707070;
            border-radius: 3px;
            font-family: 'SpoqaHanSansNeo';
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            > img {
              width: 14px;
              height: 14px;
              margin: 0px 1px 0px 2px;
            }
            > p {
              margin: 0;
              margin-right: 3px !important;
              &::after {
                content: 'APR';
                font-family: 'SpoqaHanSansNeo';
                color: #888888;
                font-weight: 200;
              }
            }
          }
        }
      }
      &--right {
        flex: 1;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        border-left: 1px solid #e6e6e6;
        padding: 10px 0px 10px 10px;
        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          > p {
            &:first-child {
              color: #888888;
            }
            &:last-child {
              color: #333333;
            }
          }
        }
      }
    }
    &__data-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #e6e6e6;
      &__array-handler {
        > p {
          color: #333333;
        }
        &__button {
          cursor: pointer;
        }
        .disable {
          color: #b7b7b7 !important;
          cursor: not-allowed;
        }
        &__circle {
          background: #888888;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          cursor: pointer;
          &__wrapper {
            display: flex;
            width: 30%;
            margin: 12px auto 0;
            .disable {
              background: #e6e6e6;
            }
          }
        }
      }
      &--left {
        box-sizing: border-box;
      }
      &--right {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid #e6e6e6;
        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          > p {
            &:first-child {
              color: #888888;
            }
            &:last-child {
              color: #333333;
            }
          }
        }
      }
    }
    &__eth {
      .jreward {
        &__progress-content {
          > div {
            > p {
              > span {
                color: #627eea;
              }
            }
          }
        }
        &__progress-bar {
          &::-webkit-progress-value {
            background: #627eea;
          }
          &::-moz-progress-bar {
            background: #627eea;
          }
        }
      }
    }
    &__dai {
      .jreward {
        &__progress-content {
          > div {
            > p {
              > span {
                color: #f9ae19;
              }
            }
          }
        }
        &__progress-bar {
          &::-webkit-progress-value {
            background: #f9ae19;
          }
          &::-moz-progress-bar {
            background: #f9ae19;
          }
        }
      }
    }
    &__elfi {
      .jreward {
        &__progress-content {
          > div {
            > p {
              > span {
                color: #00a7ff;
              }
            }
          }
        }
        &__progress-bar {
          &::-webkit-progress-value {
            background: #00bfff;
          }
          &::-moz-progress-bar {
            background: #00bfff;
          }
        }
        &__dai-deposit {
          display: flex;
          flex-direction: column;
          &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }

  .guide {
    margin: 0 auto;
    &__handler {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      &__button {
        flex: 1;
        text-align: center;
        border-bottom: 5px solid #00bfff;
        cursor: pointer;
        > p {
          color: #000000;
          cursor: pointer;
        }
        &.disable {
          border-bottom: 5px solid #f0f0f1;
          > p {
            color: #b7b7b7;
          }
        }
      }
    }
    &__image {
      width: 100%;
      box-shadow: 0px 0px 3px #00bfff81;
      border-radius: 5px;
      transition: 0.2s all ease-in-out;
      cursor: pointer;
      position: relative;
      &:hover {
        box-shadow: 0px 0px 20px #00bfffdd;
      }
    }
    &__link {
      color: #00bfff;
      text-decoration: underline;
      cursor: pointer;
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
    }
    &__container {
      border-bottom: 1px solid #b7b7b7;
      &:last-child {
        border: 0;
      }
    }
    &__content {
      margin: 40px 20px 0;
      &__bold {
        font-size: 16px;
      }
      > ol {
        > li {
          > div {
            transition: 0.2s all ease-in-out;
            > p {
              text-align: center;
              color: #888888;
            }
          }
        }
      }
    }
  }

  .text {
    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      > p {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
      }
      > hr {
        width: 100%;
        height: 1px;
        border: 0px;
        background-color: #f0f0f1;
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 24px;
    vertical-align: middle;
    margin-left: 10px;
    &__wrapper {
      display: flex;
      text-align: right;
      align-items: center;
      justify-content: flex-end;
    }
    input {
      display: none;
      &:checked + .slider {
        background-color: #00bfff;
        &::before {
          -webkit-transform: translateX(27px);
          -ms-transform: translateX(27px);
          transform: translateX(27px);
        }
      }
      &:focus + .slider {
        box-shadow: 0 0 1px #00bfff;
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &::before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &.round {
      border-radius: 34px;
      &::before {
        border-radius: 50%;
      }
    }
  }

  .loading-indicator {
    height: 450px;
    &__text {
      position: absolute;
      bottom: 30px;
      font-size: 24px;
      text-align: center;
      width: 100%;
      right: 10px;
      > p {
        display: inline;
      }
      &::after {
        content: '....';
        position: absolute;
        width: 30px;
        animation: changeContent 3s linear infinite alternate;
        text-align: left;
        margin-left: 5px;
      }
    }
  }
  .pin {
    position: absolute;
    border-radius: 50%;
    border: 8px solid #00bfff;
    width: 8px;
    height: 8px;
  }
  .pin::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -30px;
    left: -6px;
    border: 10px solid transparent;
    border-top: 17px solid #00bfff;
  }

  .jnavTrigger {
    cursor: pointer;
    width: 25px;
    height: 25px;

    i {
      border-radius: 2px;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
    }
    i:nth-child(1) {
      -webkit-animation: outT 0.8s backwards;
      animation: outT 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }
    i:nth-child(2) {
      margin: 5px 0;
      -webkit-animation: outM 0.8s backwards;
      animation: outM 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }
    i:nth-child(3) {
      -webkit-animation: outBtm 0.8s backwards;
      animation: outBtm 0.8s backwards;
      -webkit-animation-direction: reverse;
      animation-direction: reverse;
    }
    &.active {
      i:nth-child(1) {
        -webkit-animation: inT 0.8s forwards;
        animation: inT 0.8s forwards;
      }
      i:nth-child(2) {
        -webkit-animation: inM 0.8s forwards;
        animation: inM 0.8s forwards;
      }
      i:nth-child(3) {
        -webkit-animation: inBtm 0.8s forwards;
        animation: inBtm 0.8s forwards;
      }
    }
  }
}

.eth_progress {
  color: #e6e6e6;
  width: 100%;
  height: 13px;
  border-radius: 13px;
  margin-top: 5px;
  &::-webkit-progress-bar {
    border: 0;
    border-radius: 13px;
    background: #e6e6e6;
  }
  &::-webkit-progress-value {
    border: 0;
    border-radius: 13px;
    background: #627eea;
  }
  &::-moz-progress-bar {
    border: 0;
    background: #627eea;
  }
}

.dai_progress {
  color: #e6e6e6;
  width: 100%;
  height: 13px;
  border-radius: 13px;
  margin-top: 5px;
  &::-webkit-progress-bar {
    border: 0;
    border-radius: 13px;
    background: #e6e6e6;
  }
  &::-webkit-progress-value {
    border: 0;
    border-radius: 13px;
    background: #f9ae19;
  }
  &::-moz-progress-bar {
    border: 0;
    background: #f9ae19;
  }
}

.elfi_progress {
  color: #e6e6e6;
  width: 100%;
  height: 13px;
  border-radius: 13px;
  margin-top: 5px;
  &::-webkit-progress-bar {
    border: 0;
    border-radius: 13px;
    background: #e6e6e6;
  }
  &::-webkit-progress-value {
    border: 0;
    border-radius: 13px;
    background: #00bfff;
  }
  &::-moz-progress-bar {
    border: 0;
    background: #00bfff;
  }
}
.eth {
  color: #627eea !important;
}

.dai {
  color: #f9ae19 !important;
}

.elfi {
  color: #00bfff !important;
}

.link_left {
  position: absolute;
  left: 0;
  bottom: 0;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(5px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(5px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(5px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(5px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(7px) rotate(0deg);
  }
  100% {
    transform: translateY(7px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-7px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-7px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-7px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(135deg);
  }
}
@keyframes DownArrow {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    transform: translateY(10px);
  }
}
@keyframes TopFadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes TopFadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes BottomFadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes BottomFadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes MiddleFadeInAnimation {
  0% {
    opacity: 1;
  }
  1% {
    text-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 17px #00bfff,
      0 0 38px #00bfff;
  }
  100% {
    opacity: 0;
  }
}
@keyframes MiddleFadeOutAnimation {
  0% {
    opacity: 0;
  }
  1% {
    text-shadow: 0 0 5px #00bfff, 0 0 10px #00bfff, 0 0 17px #00bfff,
      0 0 38px #00bfff;
  }
  100% {
    opacity: 1;
  }
}
