@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: 'Montserrat-bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  unicode-range: U+0030-0039 U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('../assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  unicode-range: U+0030-0039 U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('../assets/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
  unicode-range: U+0030-0039 U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

h1,
h2 {
  font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
  color: #000;
  opacity: 0.88;
  font-weight: bold;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.medium {
  font-family: 'SpoqaHanSansNeo-Medium';
}
.bold {
  font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
}
.spoqa {
  font-family: 'SpoqaHanSansNeo' !important;
  &__bold {
    font-family: 'SpoqaHanSansNeo-Bold' !important;
  }
  &__medium {
    font-family: 'SpoqaHanSansNeo-Medium' !important;
  }
}
p,
a,
span {
  font-family: 'Montserrat', 'SpoqaHanSansNeo';
  color: #333333;
  text-decoration: none;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.link {
  color: #00a7ff;
  text-decoration: underline;
  cursor: pointer;
}
.elysia {
  background-color: #fff;
  white-space: pre-line;
  .navigation {
    background-color: #101010;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    transition: all 0.25s ease-in-out;
    &__bottom {
      border-top: 1px solid #636363;
      background-color: #000000;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(10px);
      transition: backdrop-filter 50ms ease-in-out 0s;
      > p {
        margin: 0 25px;
        color: #fff;
      }
    }
    &__container {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(10px);
      transition: backdrop-filter 50ms ease-in-out 0s;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__link {
      color: #fff;
      display: inline;
      cursor: pointer !important;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
      }
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__under-line {
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: #b7b7b7;
        margin: 0 auto;
        bottom: -5px;
        opacity: 0;
      }
      .hover {
        animation: Hovers 0.25s;
        animation-fill-mode: forwards;
      }
      &__wrapper {
        display: flex;
      }
    }
    &__sub-menu {
      background-color: #fff;
      position: absolute;
      margin-top: 0px;
      padding: 0px;
      z-index: 99;
      &__item {
        font-family: 'Montserrat', 'SpoqaHanSansNeo';
      }
      :hover {
        background-color: #f0f0f1;
      }
    }
    &__wallet {
      display: inline-flex;
      background: #00bfff 0% 0%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      > div {
        justify-content: center;
      }
      // animation: glow 1.5s linear infinite alternate;
      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      &__status {
        color: #fff;
        font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
        cursor: pointer;
        &--connected {
          color: #fff;
          font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
          text-align: right;
          margin: 0;
          cursor: pointer;
        }
      }
      &__mainnet {
        margin: 0;
        color: #fff;
        text-align: right;
        cursor: pointer;
      }
      &--connected {
        width: 205px;
        height: 54px;
        margin-left: 30px;
        display: inline-flex;
        border-radius: 5px;
        opacity: 1;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        position: relative;
        cursor: pointer;

        box-shadow: 0px 0px 6px #00bfff81;
        border: 2px solid #00bfff;

        &.FAIL {
          box-shadow: 0px 0px 6px #ff1d1d81;
          border: 2px solid #ff1d1d;
        }
        &.PENDING {
          box-shadow: 0px 0px 6px #f5f5f581;
          border: 2px solid #f5f5f5;
          color: #00bfff;
          box-shadow: inset 0 0 0 1px rgba(#00bfff, 0.5);

          &::before,
          &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            z-index: -1;
            margin: -1 * 0.05 * 100%;
            box-shadow: inset 0 0 0 2px;
            animation: clipMe 4s linear infinite;
          }
          &::before {
            animation-delay: 4s * -0.5;
          }
          @keyframes clipMe {
            0%,
            100% {
              clip: rect(0px, 205px * 1.1, 2px, 0px);
            }
            25% {
              clip: rect(0px, 2px, 67px * 1.1, 0px);
            }
            50% {
              clip: rect(67px * 1.1 - 2px, 205px * 1.1, 67px * 1.1, 0px);
            }
            75% {
              clip: rect(0px, 205px * 1.1, 67px * 1.1, 205px * 1.1);
            }
          }
          .loader {
            left: 15px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: relative;
            -webkit-animation: load5 1.1s infinite ease;
            animation: load5 1.1s infinite ease;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
          }
        }
        &.CONFIRM {
          box-shadow: 0px 0px 6px #23eb1b81;
          border: 2px solid #23eb1b;
        }
      }
      &__sub-menu {
        display: block;
        position: absolute;
        background-color: #fff;
        padding: 0px;
        z-index: 99;
        word-break: break-all;
        > hr {
          border: 0px;
          margin: 0;
          background-color: #888888;
          cursor: default;
        }
        &__item {
          font-family: 'Montserrat', 'SpoqaHanSansNeo';
          white-space: normal;
          margin: 0;
        }
        :hover {
          background-color: #f0f0f1;
        }
        :first-child {
          border-radius: 15px 15px 0px 0px;
        }
        :last-child {
          border-radius: 0px 0px 15px 15px;
        }
      }
    }
  }
  .logo-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    background-color: #fff;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    &__title {
      color: #fff;
      margin: 0 auto;
      &__wrapper {
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }

  .dashboard {
    min-width: 1190px;
    width: 100%;
    height: 360px;
    &__title {
      &-wrapper {
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
      }
      &-text {
        color: #fff;
        margin: 0 auto;
      }
    }

    &--disable {
      position: relative;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      .dashboard {
        &__content-container {
          text-align: center;
          margin: 0 auto;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &__content {
          color: #fff;
        }
        &__content--bold {
          color: #fff;
        }
      }
    }
  }

  .tokens {
    .token-name,
    .div-balance {
      color: #888888;
    }
    margin: 0 auto;
    &__header-wrapper {
      display: flex;
      justify-content: row;
      align-items: center;
    }
    &__header-line {
      flex: 1;
      height: 0px;
      border: 0px;
      margin: 0 0 0 17.5px;
      border-top: 1px solid #f0f0f1;
    }
    &__table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 15px;
      &__image {
        padding: 10px 5px;
        &--disable {
          background-color: #1c1c1ca2;
          position: absolute;
        }
        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          > p {
            margin: 0 0 0 10px;
            cursor: pointer;
          }
        }
      }
      &__apr {
        border: 0.5px solid #707070;
        border-radius: 3px;
        font-family: 'SpoqaHanSansNeo';
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        > img {
          margin: 0px 1px 0px 2px;
        }
        > p {
          margin: 0;
          &::after {
            content: 'APR';
            font-family: 'SpoqaHanSansNeo';
            color: #888888;
            font-weight: 200;
          }
        }
      }
      &__row {
        box-shadow: 0px 0px 6px #00000029;
        box-sizing: border-box;
        &:hover {
          box-shadow: 0px 0px 16px #00000029;
          transition: all 0.5 ease-in-out;
        }
        &--disable {
          &:hover {
            border-radius: 5px;
            background: #cccccca2;
          }
        }
      }
      &__button {
        border: 1px solid #333333;
        border-radius: 3px;
        margin: 0 auto;
        > p {
          color: #333333;
        }
        &--disable {
          border: 1px solid #b7b7b7;
          border-radius: 3px;
          margin: 0 auto;
          > p {
            color: #b7b7b7;
          }
        }
      }
      &__header {
        margin: 20px;
        &__column {
          position: relative;
          &--selected {
            position: relative;
          }
        }
        > tr > th {
          padding-bottom: 0 !important;
          &:first-child {
            > p {
              text-align: left;
              margin: 0;
            }
          }
        }
      }
      &-body {
        cursor: pointer;
        &-button {
          border: 1px solid #333333;
          border-radius: 3px;
          cursor: pointer;
          > p {
            cursor: pointer;
          }
        }
        > tr {
          background: #ffffff;
          box-shadow: 0px 0px 6px #00000029;
          border-radius: 5px;
          cursor: pointer;
          box-sizing: border-box;
          > :first-child {
            box-sizing: border-box;
          }
          > :last-child {
            box-sizing: border-box;
          }
          > th {
            box-sizing: border-box;
            > p {
              cursor: pointer;
              margin: 0;
            }
            &:first-child {
              > div {
                display: flex;
                justify-content: left;
                align-items: center;
                cursor: pointer;
              }
            }
            &:nth-child(3) > p {
              &:nth-child(2) {
                color: #888888;
              }
            }
            > div {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              cursor: pointer;
            }
          }
        }
      }
      &__row {
        cursor: pointer;
        background: #ffffff;
        box-shadow: 0px 0px 6px #00000029;
        box-sizing: border-box;
        &:hover {
          box-shadow: 0px 0px 16px #00000029;
          transition: all 0.5 ease-in-out;
        }
        &--disable {
          background: #ffffff;
          box-shadow: 0px 0px 6px #00000029;
          &:hover {
            background: #cccccca2;
          }
          > th {
            > p {
              color: #b7b7b7;
            }
          }
          > div {
            > div {
              > p {
                color: #b7b7b7;
              }
            }
          }
        }
      }
    }
  }

  @keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-moz-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-webkit-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-ms-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-o-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }

  .text {
    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      > p {
        white-space: nowrap;
        color: #333333;
      }
      > hr {
        width: 100%;
        height: 1px;
        border: 0px;
        background-color: #f0f0f1;
      }
    }
  }
  .staking {
    &__sign {
      color: #646464;
    }
    &__round {
      display: flex;
      &__border {
        border: 1px dotted #888888;
        border-right: 0;
      }
      &__container {
        flex: 1;
      }
      &__remaining-data {
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 6px #00000029;
        &__title {
          border-right: 1px solid #e6e6e6;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          > div:last-child {
            width: 100%;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            > p:first-child {
              font-size: 12px;
              margin: 0px;
            }
            > p:last-child {
              .staking__sign {
                color: #888888;
              }
            }
          }
        }
        &__body {
          display: flex;
          flex: 1;
          > div {
            width: 100%;
            > div {
              border-top: 1px solid #e6e6e6;
              > h2 {
                text-align: right;
                .colored {
                  &.EL {
                    color: #00bfff;
                  }
                  &.ELFI {
                    color: #f9ae19;
                  }
                }
                > span {
                  margin-left: 5px;
                }
              }
              .disable {
                background-color: #b7b7b7;
                border-radius: 3px;
                border: 0;
                box-shadow: 0px 0px 0px;
                cursor: not-allowed;
                > p {
                  font-size: 15px;
                  margin: 0;
                  line-height: 30px;
                  text-align: center;
                  color: #ffffff;
                  cursor: not-allowed;
                }
              }
              > .button--disable {
                border: 0px;
                cursor: not-allowed;
                background-color: #b7b7b7;
                > p {
                  cursor: not-allowed;
                  color: #ffffff;
                }
              }
              > div {
                border: 1px solid #333333;
                box-shadow: 0px 0px 6px #00000029;
                border-radius: 3px;
                cursor: pointer;
                > p {
                  margin: 0;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
            &:first-child {
              margin-left: 20px;
              > div {
                border-right: 1px solid #e8e8e8;
              }
            }
            &:last-child {
              margin-right: 20px;
              > div {
                > h2 {
                  color: #00a7ff;
                }
              }
            }
          }
        }
      }
      .waiting {
        background-color: #f8f8f8;
        .staking__round__remaining-data__title {
          > div:first-child {
            > p {
              color: #888888;
            }
          }
          > div:last-child {
            background-color: #ffffff;
          }
        }
      }

      &__previous {
        &__wrapper {
          width: 95%;
          box-shadow: 0px 0px 6px #00000029;
          box-sizing: border-box;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
        > div:first-child {
          display: flex;
          flex: 1;
          height: 100%;
          .staking__round__previous__title {
            border-radius: 10px;
            background-color: #f8f8f8;
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            > p {
              color: #888888;
              &:first-child {
                margin: 8px;
              }
              &:last-child {
                margin: 7px;
              }
            }
          }
          .staking__round__previous__body {
            flex: 1;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            > div {
              display: flex;
              justify-content: space-between;
              > p {
                margin: 0;
                &:last-child {
                  .colored {
                    &.EL {
                      color: #00bfff;
                    }
                    &.ELFI {
                      color: #f9ae19;
                    }
                  }
                  > span {
                    color: #646464;
                  }
                }
              }
            }
          }
        }
        &:last-child {
          border-bottom: 0px;
        }

        &__button {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 100%;
          > .button--disable {
            border: 0px;
            cursor: not-allowed;
            background-color: #b7b7b7;
            > p {
              cursor: not-allowed;
              color: #ffffff;
            }
          }
          > div {
            border: 1px solid #333333;
            border-radius: 3px;
            box-shadow: 0px 0px 6px #00000029;
            cursor: pointer;
            > p {
              margin: 0;
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }
      &__current-data {
        box-shadow: 0px 0px 6px #00000029;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > div {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          > p {
            margin: 5px 0;
          }
          > div {
            display: flex;
            justify-content: space-between;
            > p {
              color: #646464;
              margin: 5px 0;
            }
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
    .modal {
      &__staking {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &__button {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid #333333;
          cursor: pointer;
          box-shadow: 0px 0px 6px #00000029;
          transition: 0.2s all ease-in-out;
          &:hover {
            box-shadow: 0px 0px 14px #00a7ff77;
            border: 1px solid #00a7ff;
            .modal__staking__button__arrow {
              color: #00a7ff;
            }
          }
          &__arrow {
            color: #333333;
          }
          > div {
            > p {
              margin: 0;
            }
            > h2 {
              margin: 5.5px 0 0;
            }
          }
        }
      }
    }
    &__progress-bar {
      margin: 0 auto;
      height: 1px;
      background-color: #f5f5f5;
      position: relative;
      &__value {
        width: 0%;
        height: 1px;
      }
      &__button {
        border: 1px solid #00bfff;
        z-index: 2;
        position: relative;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px #00000029;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        &:hover {
          box-shadow: 0px 0px 6px #00bfff;
        }

        &.selected {
          &.EL {
            background-color: #00bfff !important;
          }
          &.ELFI {
            background-color: #f9ae19 !important;
          }
          > div {
            > p {
              color: #333333 !important;
            }
          }
        }
        &.ended {
          background-color: #ffffff;
          border: 1px solid #000000;
          &.EL {
            border: 1px solid #00bfff !important;
          }
          &.ELFI {
            border: 1px solid #f9ae19 !important;
          }
        }
        &.now {
          background-color: #ffffff;
          border: 1px solid #000000;
          &.EL {
            border: 1px solid #00bfff !important;
          }
          &.ELFI {
            border: 1px solid #f9ae19 !important;
          }
          > div {
            > p {
              color: #333333 !important;
            }
          }
        }
        &.waiting {
          background-color: #f5f5f5;
          border: 0;
        }
        > div {
          position: absolute;
          text-align: center;
          > p {
            margin: 0;
            color: #b7b7b7;
          }
        }
        &::after {
          content: '';
          width: 1px;
          position: absolute;
          background-color: #b7b7b7;
          z-index: 1;
          cursor: default;
        }
        &__wrapper {
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: relative;
        }
      }
    }
    &__button {
      display: block;
      box-shadow: 0px 0px 6px #00000029;
      box-sizing: border-box;
      color: #333333;
      border: 1px solid #333333;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
      background: #ffffff;
      > p {
        margin: 0;
        cursor: pointer;
      }
      &.disable {
        box-shadow: none;
        background-color: #b7b7b7;
        border: none;
        cursor: not-allowed;
        > p {
          cursor: not-allowed;
          color: #ffffff;
        }
      }
    }
    &__value {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px 0;
      &__reward {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
      }
    }
    &__content {
      border-top: 1px solid #e6e6e6;
    }
    &__infomation {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__container {
      box-shadow: 0px 0px 6px #00000029;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #f8f8f8;
      &__header {
        border-bottom: 1px solid #e6e6e6;
        > p {
          margin: 0;
        }
      }
      > div {
        > h2 {
          margin: 0;
          text-align: right;
          .colored {
            &.EL {
              color: #00bfff;
            }
            &.ELFI {
              color: #f9ae19;
            }
          }
        }
      }
      &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: hidden;
    &__account {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px;
      align-items: center;
      &__mainnet-info {
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 10px 10px 0 0;
        padding: 14px 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > div:first-child {
          > p {
            color: #b7b7b7;
            margin: 0 0 5px 0;
          }
          > div {
            display: flex;
            align-items: center;
            > p {
              margin: 0;
            }
            > div {
              background-color: #00bfff;
              width: 14px;
              height: 14px;
              border-radius: 14px;
              margin-right: 6px;
            }
          }
        }
        > div:last-child {
          border-radius: 3px;
          border: 1px solid #646464;
          cursor: pointer;
          > p {
            margin: 7px 29px;
            cursor: pointer;
          }
        }
        &__button {
          width: 100%;
          display: flex;
          justify-content: space-between;
          border: 1px solid #e6e6e6;
          border-radius: 0 0 10px 10px;
          border-top: 0px;
          box-sizing: border-box;
          color: #333333;
          cursor: pointer;
          > div {
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            > p {
              margin: 10px;
              color: #636363;
              cursor: pointer;
            }
            &:first-child {
              background-color: #e6e6e6;
              border-radius: 0 0 0 10px;
            }
          }
          > a {
            width: 50%;
            text-decoration: none;
            user-select: none;
            > div {
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              > p {
                margin: 10px;
                color: #636363;
                cursor: pointer;
              }
            }
          }
        }
      }
      &__status {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 10px;
        .disable {
          cursor: default;
          > div {
            > p {
              cursor: default;
            }
          }
        }
        > a {
          text-decoration: none;
          user-select: none;
          cursor: pointer;
          > div {
            border: 1px solid #e6e6e6;
            margin-top: 10px;
            justify-content: space-between;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            > p {
              cursor: pointer;
            }
            > div {
              display: flex;
              align-items: center;
              > p {
                cursor: pointer;
              }
              > img {
                width: 24px;
                height: 24px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    &__confirm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 30px;
      align-items: center;
      > img {
        width: 50%;
        margin: 20px;
      }
      > div {
        > p:first-child {
          margin-bottom: 50px;
        }
        > p:last-child {
          color: #646464;
        }
      }
      text-align: center;
    }
    &__text-input {
      text-align: right;
      padding: 0;
      border: 0;
      background: none;
      color: #1c1c1c;
      width: 100%;
      float: right;
      font-family: 'SpoqaHanSansNeo-Bold';
      outline: 0;
      transition: all 0.7s linear;
    }
    ::placeholder {
      color: #b7b7b7;
    }
    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .arrow-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    &__migration {
      &__alert {
        width: 90%;
        margin: 0 auto;
        > p {
          &:first-child {
            text-align: center;
          }
        }
        > div {
          border: 1px solid #e6e6e6;
          border-radius: 10px;
          > p {
            margin: 0;
            margin-bottom: 8px;
          }
          > div {
            display: flex;
            justify-content: space-between;
            > p {
              margin: 0;
            }
          }
        }
      }
      &__wrapper {
        border-bottom: 1px solid #f0f0f1;
      }
      > div {
        > div {
          &:nth-child(3) {
            position: relative;
          }
        }
      }
      &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: #646464;
      }
      &__input {
        background-color: #f0f0f1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > p {
          > input {
            text-align: right;
            padding: 0;
            border: 0;
            background: none;
            color: #1c1c1c;
            float: right;
            font-family: 'SpoqaHanSansNeo-Bold';
            outline: 0;
            transition: all 0.3s linear;
          }
        }
      }
      &__popup {
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 0px 6px #00000029;
        &__hover {
          text-align: center;
          border: 1px solid #333333;
          cursor: pointer;
        }
        &__info {
          display: inline-flex;
          justify-content: left;
        }
      }
    }
    &__button {
      background-color: #00bfff;
      border-radius: 5px;
      text-align: center;
      > p {
        margin: 0;
        color: #fff;
        cursor: pointer;
      }
    }
    &__button--disable {
      background-color: #b7b7b7;
      text-align: center;
      > p {
        margin: 0;
        color: #fff;
      }
    }
    &__container {
      background-color: #fff;
      border-radius: 5px;
      position: fixed;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      &__name {
        margin: 0;
      }
      &__token-info-wrapper {
        display: flex;
        justify-content: left;
        align-items: center;
      }
    }
    &__withdraw__value-wrapper,
    &__deposit__value-wrapper,
    &__value-wrapper {
      background-color: #f0f0f1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__converter {
      display: flex;
      &__column {
        flex: 1;
        text-align: center;
        cursor: pointer;
        > p {
          color: #b7b7b7;
          cursor: pointer;
        }
        &--selected {
          flex: 1;
          text-align: center;
          border-bottom: 3px solid #00bfff;
          cursor: pointer;
          > p {
            color: #00bfff;
            cursor: pointer;
          }
        }
      }
    }
    &__input {
      &__maximum {
        margin: 0;
        display: flex;
        color: #b7b7b7;
        cursor: pointer;
        white-space: nowrap;
      }
      &__value {
        color: #333333;
        &-converter {
          margin: 0px;
          color: #b7b7b7;
          &-wrapper {
            text-align: right;
            border-bottom: 2px solid #f0f0f1;
          }
        }
      }
    }
    &--deposit {
      .modal {
        &__header {
          &__type {
            margin: 0;
            display: flex;
            justify-content: left;
          }
        }

        &__withdraw,
        &__deposit {
          &__maximum {
            margin: 0;
            display: flex;
            color: #b7b7b7;
            cursor: pointer;
          }
          &__value {
            color: #333333;
            &-converter {
              margin: 0px;
              color: #b7b7b7;
              &-wrapper {
                text-align: right;
                border-bottom: 2px solid #f0f0f1;
              }
            }
          }
        }
        &__withdraw {
          &__withdrawalable {
            border-bottom: 2px solid #f0f0f1;
            &__title {
              > p {
                color: #b7b7b7;
              }
            }
            &-amount-wrapper {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              border-bottom: 1px solid #f0f0f1;
              > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }
            }
            &-value-wrapper {
              > div {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
        &__deposit {
          &__container {
            border-bottom: 2px solid #f0f0f1;
          }
          &__despositable {
            &-amount {
              &-container {
                justify-content: space-between;
                border-bottom: 1px solid #f0f0f1;
                > p {
                  color: #b7b7b7;
                }
              }
              &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                > div {
                  text-align: right;
                  // > p:last-child {
                  //   color: #888888;
                  //   font-size: 13px;
                  // }
                }
              }
            }
            &-value {
              &-wrapper {
                > p {
                  color: #b7b7b7;
                }
                > div {
                  display: flex;
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
    &--minted {
      .modal {
        &__body {
          background-color: #f0f0f1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__maximum {
            margin: 0;
            display: flex;
            color: #b7b7b7;
            cursor: pointer;
          }
          &__value {
            margin: 0;
            display: flex;
            color: #b7b7b7;
          }
        }
        &__footer {
          border-bottom: 1px solid #f0f0f1;
          &__text {
            color: #262626;
          }
          &__amount-text {
            display: inline-block;
            margin: 0;
            color: #888888;
          }
          &__amount {
            display: inline-block;
            margin: 0;
            float: right;
            color: #888888;
          }
        }
      }
    }
    &__staking {
      &__container {
        > p {
          color: #b7b7b7;
        }
        > div {
          display: flex;
          justify-content: space-between;
          > p {
            color: #262626;
          }
        }
      }
    }
  }

  /* Footer */

  .footer {
    &__content {
      color: #ffffff;
      position: relative;
    }
    &--dashboard {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &__container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
    }
    &__white-logo {
      display: inline;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__logo-wrapper {
      display: flex;
      float: right;
      justify-content: space-between;
      align-items: center;
    }
  }
  .lang {
    position: relative;
    cursor: pointer;
    &__select-image {
      display: inline-block;
      width: 26px;
      height: 26px;
      &__wrapper {
        display: inline-flex;
        width: 100px;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        > p {
          margin: 0;
          color: #fff;
          cursor: pointer;
          text-shadow: 0px 0px 5px #000000;
        }
      }
      &__text {
        display: inline-block;
        color: #fff;
      }
    }
    &__image-wrapper {
      justify-content: space-between;
      flex-direction: column;
      position: absolute;
      bottom: 55px;
      height: 63px;
    }
    &__button-wrapper {
      justify-content: space-between;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      width: 100px;
    }
    &__select-image__text {
      cursor: pointer;
    }
  }
}

.close-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  &--1 {
    height: 25px;
    width: 2px;
    margin-left: 12.5px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
  }
  &--2 {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
  }
}

.google-visualization-tooltip {
  border: 0 !important;
  -webkit-box-shadow: none !important;
  background-color: #ffffff !important;
  // box-shadow: 0px 0px 6px #00000029 !important;
  border-radius: 5px;
  padding: 8px;
  width: 220px !important;
  ul li {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    > span {
      color: #888888 !important;
      font-family: 'SpoqaHanSansNeo-Bold' !important;
      &:nth-child(2) {
        flex: 1;
        font-family: 'SpoqaHanSansNeo-Bold' !important;
      }
      &:last-child {
        color: #00bfff !important;
      }
    }
    > div {
      display: none !important;
    }
    &:first-child {
      display: none !important;
    }
    &:last-child {
      &::after {
        content: '%';
        color: #00bfff;
        font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      }
    }
  }
}

.loading-indicator {
  &__text {
    position: absolute;
    text-align: center;
    width: 100%;
    > p {
      display: inline;
    }
    &::after {
      content: '....';
      position: absolute;
      animation: changeContent 3s linear infinite alternate;
      text-align: left;
    }
  }
  &__text2 {
    position: absolute;
    text-align: center;
    > p {
      display: inline;
    }
  }

  .loader {
    height: 100%;
    width: 100%;
  }
  .loader .l_main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media (max-width: 550px) {
    .loader {
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
    }
  }
  @media (max-width: 440px) {
    .loader {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  .l_square {
    position: relative;
  }
  .l_square span {
    position: absolute;
    top: 0px;
    border-radius: 2px;
    background-color: #00bfff;
  }
  .l_square:nth-child(1) span {
    -webkit-animation: animsquare1 2s infinite ease-in;
    animation: animsquare1 2s infinite ease-in;
  }
  .l_square:nth-child(2) span {
    -webkit-animation: animsquare2 2s infinite ease-in;
    animation: animsquare2 2s infinite ease-in;
  }
  .l_square:nth-child(3) span {
    -webkit-animation: animsquare3 2s infinite ease-in;
    animation: animsquare3 2s infinite ease-in;
  }
  .l_square:nth-child(4) span {
    -webkit-animation: animsquare4 2s infinite ease-in;
    animation: animsquare4 2s infinite ease-in;
  }
  .l_square span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .l_square span:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .l_square span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  @-webkit-keyframes animsquare1 {
    0%,
    5%,
    95%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    30%,
    70% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare1 {
    0%,
    5%,
    95%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    30%,
    70% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @-webkit-keyframes animsquare2 {
    0%,
    10%,
    90%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    35%,
    65% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare2 {
    0%,
    10%,
    90%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    35%,
    65% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @-webkit-keyframes animsquare3 {
    0%,
    15%,
    85%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    40%,
    60% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare3 {
    0%,
    15%,
    85%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    40%,
    60% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @-webkit-keyframes animsquare4 {
    0%,
    20%,
    80%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    45%,
    55% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare4 {
    0%,
    20%,
    80%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    45%,
    55% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }

  @-webkit-keyframes changeContent {
    0% {
      content: '.';
    }
    25% {
      content: '..';
    }
    50% {
      content: '...';
    }
    75% {
      content: '....';
    }
    100% {
      content: '.....';
    }
  }
  @keyframes changeContent {
    0% {
      content: '.';
    }
    25% {
      content: '..';
    }
    50% {
      content: '...';
    }
    75% {
      content: '....';
    }
    100% {
      content: '.....';
    }
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 2px #00bfff44, 0 0 3px #00bfff44, 0 0 4px #00bfff44,
      0 0 5px #00bfff44, 0 0 6px #00bfff44, 0 0 7px #00bfff44,
      0 0 10px #00bfff44;
  }
  to {
    box-shadow: 0 0 2px #ffffff44, 0 0 4px #ffffff44, 0 0 10px #ffffff44,
      0 0 14px #ffffff44, 0 0 17px #ffffff44, 0 0 19px #ffffff44,
      0 0 25px #ffffff44;
  }
}

.pin {
  position: absolute;
  border-radius: 50%;
  border: 8px solid #00bfff;
  width: 8px;
  height: 8px;
}

.pin::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #00bfff;
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -10px 0em 0em #ffffff,
      10px -10px 0 0em rgba(255, 255, 255, 0.2),
      10px 0em 0 0em rgba(255, 255, 255, 0.2),
      10px 10px 0 0em rgba(255, 255, 255, 0.2),
      0em 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 0em 0 0em rgba(255, 255, 255, 0.5),
      -10px -10px 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.7),
      10px -10px 0 0em #ffffff, 10px 0em 0 0em rgba(255, 255, 255, 0.2),
      10px 10px 0 0em rgba(255, 255, 255, 0.2),
      0em 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 0em 0 0em rgba(255, 255, 255, 0.2),
      -10px -10px 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.5),
      10px -10px 0 0em rgba(255, 255, 255, 0.7), 10px 0em 0 0em #ffffff,
      10px 10px 0 0em rgba(255, 255, 255, 0.2),
      0em 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 0em 0 0em rgba(255, 255, 255, 0.2),
      -10px -10px 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.2),
      10px -10px 0 0em rgba(255, 255, 255, 0.5),
      10px 0em 0 0em rgba(255, 255, 255, 0.7), 10px 10px 0 0em #ffffff,
      0em 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 0em 0 0em rgba(255, 255, 255, 0.2),
      -10px -10px 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.2),
      10px -10px 0 0em rgba(255, 255, 255, 0.2),
      10px 0em 0 0em rgba(255, 255, 255, 0.5),
      10px 10px 0 0em rgba(255, 255, 255, 0.7), 0em 10px 0 0em #ffffff,
      -10px 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 0em 0 0em rgba(255, 255, 255, 0.2),
      -10px -10px 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.2),
      10px -10px 0 0em rgba(255, 255, 255, 0.2),
      10px 0em 0 0em rgba(255, 255, 255, 0.2),
      10px 10px 0 0em rgba(255, 255, 255, 0.5),
      0em 10px 0 0em rgba(255, 255, 255, 0.7), -10px 10px 0 0em #ffffff,
      -10px 0em 0 0em rgba(255, 255, 255, 0.2),
      -10px -10px 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.2),
      10px -10px 0 0em rgba(255, 255, 255, 0.2),
      10px 0em 0 0em rgba(255, 255, 255, 0.2),
      10px 10px 0 0em rgba(255, 255, 255, 0.2),
      0em 10px 0 0em rgba(255, 255, 255, 0.5),
      -10px 10px 0 0em rgba(255, 255, 255, 0.7), -10px 0em 0 0em #ffffff,
      -10px -10px 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -10px 0em 0em rgba(255, 255, 255, 0.2),
      10px -10px 0 0em rgba(255, 255, 255, 0.2),
      10px 0em 0 0em rgba(255, 255, 255, 0.2),
      10px 10px 0 0em rgba(255, 255, 255, 0.2),
      0em 10px 0 0em rgba(255, 255, 255, 0.2),
      -10px 10px 0 0em rgba(255, 255, 255, 0.5),
      -10px 0em 0 0em rgba(255, 255, 255, 0.7), -10px -10px 0 0em #ffffff;
  }
}

/* loading indicator */

.lds-spinner {
  color: #00bfff;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 14px;
}
.lds-spinner div {
  transform-origin: 12px 12px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0px;
  left: 12px;
  width: 2px;
  height: 6px;
  border-radius: 20%;
  background: #00bfff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.select_box_Item {
  background-color: #ffffff;

  > div {
    > div {
      color: #333333;
    }
  }
}
.select_box_Item:hover {
  background-color: rgb(116, 116, 116);
  > div {
    > div {
      color: #ffffff;
    }
  }
}
