@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../assets/fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
  unicode-range: U+0030-0039
    U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("../assets/fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
  unicode-range: U+0030-0039
    U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

h1,
h2 {
  font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
  color: #000;
  opacity: 0.88;
  font-weight: bold;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}
.bold {
  font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
}
.spoqa {
  font-family: "SpoqaHanSansNeo";
  &__bold {
    font-family: "SpoqaHanSansNeo-Bold";
  }
}
p,
a,
span {
  font-family: "Montserrat", "SpoqaHanSansNeo";
  color: #333333;
  text-decoration: none;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}

.elysia {
  background-color: #fff;
  min-width: 1190px;
  white-space: pre-line;
  min-height: calc(100vh - 100px);
  .navigation {
    background-color: #101010;
    &__alert {
      height: 40px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      > p {
        width: 1190px;
        margin: 0 auto;
        font-size: 13px;
      }
      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1190px;
      }
      &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 160px;
        > a p {
          color: #00a7ff;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &__container {
      max-width: 1190px;
      margin: 0 auto;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
    }
    &__link-wrapper {
      display: flex;
      align-items: center;
    }
    &__link {
      color: #fff;
      display: inline;
      // padding: 0 50px;
      cursor: pointer !important;
      position: relative;
      ::after {
        content: "";
        position: absolute;
        top: 100%;
        left: -45px;
        right: -45px;
        margin-top: -1px;
        height: 80px;
      }
      &__wrapper {
        margin: 0 50px;
      }
      &__under-line {
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: #b7b7b7;
        margin: 0 auto;
        bottom: -5px;
        opacity: 0;
      }
      .hover {
        animation: Hovers 0.25s;
        animation-fill-mode: forwards;
      }
    }
    &__sub-menu {
      background-color: #fff;
      position: absolute;
      margin-top: 0px;
      border-radius: 15px;
      padding: 0px;
      top: 40px;
      left: -45px;
      right: -45px;
      z-index: 99;
      &__item {
        padding: 20px;
        font-family: "Montserrat", "SpoqaHanSansNeo";
      }
      :hover {
        background-color: #f0f0f1;
      }
      :first-child {
        border-radius: 15px 15px 0px 0px;
      }
      :last-child {
        border-radius: 0px 0px 15px 15px;
      }
    }
    &__wallet {
      display: inline-flex;
      width: 147px;
      height: 37px;
      background: #00bfff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #00bfff81;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      cursor: pointer;
      &__status {
        color: #fff;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
        cursor: pointer;
        &--connected {
          color: #fff;
          font-family: "Montserrat", "SpoqaHanSansNeo";
          text-align: right;
          margin: 0;
          margin-right: 12px;
          cursor: pointer;
        }
      }
      &__mainnet {
        margin: 0;
        color: #fff;
        text-align: right;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
        margin-right: 12px;
        cursor: pointer;
      }
      &--connected {
        display: inline-flex;
        width: 177px;
        height: 54px;
        box-shadow: 0px 0px 6px #00bfff81;
        border: 2px solid #00bfff;
        border-radius: 5px;
        opacity: 1;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        margin-left: 50px;
        position: relative;
        cursor: pointer;
      }
      &__sub-menu {
        display: block;
        position: absolute;
        background-color: #fff;
        margin-top: 32px;
        border-radius: 15px;
        padding: 0px;
        top: 40px;
        /* left: -45px; */
        /* right: -45px; */
        z-index: 99;
        &__item {
          padding: 20px;
          font-family: "Montserrat", "SpoqaHanSansNeo";
        }
        :hover {
          background-color: #f0f0f1;
        }
        :first-child {
          border-radius: 15px 15px 0px 0px;
        }
        :last-child {
          border-radius: 0px 0px 15px 15px;
        }
      }
    }
    &__dashboard {
      &__container {
        background-color: #101010;
        border-top: 1px solid #b7b7b7;
        position: relative;
        ::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          margin-top: -1px;
          height: 40px;
        }
      }
      &__wrapper {
        max-width: 1190px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 80px;
        align-items: center;
      }
      &__link {
        color: #fff;
        margin: 0 48px;
      }
    }
  }
  .logo-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 205px;
    align-items: center;
  }
  .elysia-logo {
    width: 151px;
    height: 42px;
  }
  .elysia-logo-beta {
    width: 40px;
    height: 17px;
  }

  .service {
    background-color: #fff;
    min-width: 1190px;
    .main {
      position: relative;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      width: 100%;
      height: 570px;
      &__title-wrapper {
        width: 1190px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 67px;
        left: 0;
        right: 0;
      }
      &__title-text {
        color: #ffffff;
        font-size: 30px;
        margin: 0 auto 20px;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
        &--blue {
          color: #00bfff;
          font-size: 60px;
          margin: 0 auto 26px;
        }
      }
      &__subtitle-text {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        color: #fff;
      }
    }
  }

  .button {
    display: flex;
    cursor: pointer !important;
    justify-content: space-between;
    width: 254px;
    height: 45px;
    background: #3679b5 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 8px #00000052;
    border-radius: 5px;
    padding: 14px 14px 14px 22px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    margin: 0;
    transition: all 0.25s ease-in-out;
    &__arrow-wrapper {
      width: 44px;
      height: 45px;
      position: relative;
      background-color: #21598b;
      border-radius: 0px 5px 5px 0px;
      top: -14px;
      left: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out;
    }
    &__arrow-image {
      width: 18px;
      height: 12px;
      margin: 0;
      background-size: 18px 12px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }
  .button--disable {
    display: flex;
    cursor: not-allowed !important;
    justify-content: space-between;
    width: 254px;
    height: 45px;
    background: #888888 0% 0% no-repeat padding-box;
    box-shadow: 1px 3px 8px #00000052;
    border-radius: 5px;
    padding: 14px 14px 14px 22px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    margin: 0;
    transition: all 0.25s ease-in-out;
    &__arrow-wrapper {
      width: 44px;
      height: 45px;
      position: relative;
      background-color: #646464;
      border-radius: 0px 5px 5px 0px;
      top: -14px;
      left: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in-out;
    }
    &__arrow-image {
      width: 18px;
      height: 12px;
      margin: 0;
      background-size: 18px 12px;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }
  .main {
    background-color: #fff;
    min-width: 1190px;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
    &__title {
      &-wrapper {
        width: 1190px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 42px;
        left: 0;
        right: 0;
      }
      &-subtext {
        color: #fff;
        font-size: 30px;
        margin: 0 auto;
      }
      &-text {
        color: #fff;
        font-size: 40px;
        margin: 0 auto;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
        &--market {
          margin: 20px;
          color: #fff;
          font-size: 30px;
          font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
        }
        &--blue {
          color: #00bfff;
          font-size: 60px;
          margin: 0 0 63px;
        }
      }
      &-highlight-text {
        color: #00bfff;
        font-size: 60px;
        margin: 0 auto;
        margin-top: 10px;
        font-weight: 900;
      }
    }
  }
  .header {
    background-color: #fff;
    min-width: 1190px;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
    &__title {
      color: #fff;
      font-size: 40px;
      margin: 0 auto;
      &__wrapper {
        width: 1190px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 42px;
        left: 0;
        right: 0;
      }
    }
  }
  .dashboard {
    background-color: #fff;
    min-width: 1190px;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
    &__title {
      &-wrapper {
        width: 1190px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 42px;
        left: 0;
        right: 0;
      }
      &-text {
        color: #fff;
        font-size: 40px;
        margin: 0 auto;
      }
    }

    &--disable {
      position: relative;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      width: 100%;
      height: calc(100vh - 100px);
      .dashboard {
        &__content-container {
          text-align: center;
          margin: 0 auto;
          top: 33vh;
          position: absolute;
          left: 0;
          right: 0;
        }
        &__content {
          font-size: 25px;
          line-height: 33px;
          color: #fff;
          margin: 20px;
        }
        &__content--bold {
          font-size: 60px;
          line-height: 78px;
          color: #fff;
          margin: 0;
        }
      }
    }
  }
  .borrowers {
    &__repay {
      width: 1190px;
      margin: 0 auto;
      &__title {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
        &__wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 100px 0 33px;
          > hr {
            width: 100%;
            height: 1px;
            border: 0px;
            background-color: #f0f0f1;
          }
        }
      }
      &__table {
        width: 1190px;
        border-collapse: separate;
        border-spacing: 0 22px;
        margin-bottom: 120px;
        > thead {
          margin-bottom: 20px;
          > td {
            text-align: center;
            > p {
              margin: 0;
            }
          }
          td:first-child {
            width: 100px;
          }
        }
        > tbody {
          > tr {
            width: 1191px;
            height: 62px;
            background: #ffffff;
            box-shadow: 0px 0px 6px #00000029;
            border-radius: 5px;
            > th {
              > p {
                font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
              }
            }
            > th:last-child {
              width: 240px;
            }
          }
        }
        &__button {
          width: 169px;
          height: 30px;
          border: 1px solid #333333;
          border-radius: 3px;
          line-height: 0px;
          margin: 0 auto;
          > p {
            color: #333333;
          }
          &--disable {
            width: 169px;
            height: 30px;
            border: 1px solid #b7b7b7;
            border-radius: 3px;
            line-height: 0px;
            margin: 0 auto;
            > p {
              color: #b7b7b7;
            }
          }
        }
      }
    }
  }
  .market {
    &__detail {
      &__button {
        width: 445px;
        height: 55px;
        background-color: #00bfff;
        border-radius: 5px;
        line-height: 55px;
        margin: 0 auto 100px;
        cursor: pointer;
        > p {
          font-size: 20px;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
        }
      }
      &__title-token {
        $height: 120px;
        $width: 1190px;

        position: relative;
        width: $width;
        margin: 0 auto;
        z-index: 99;
        height: $height;
        bottom: ($height) / 2;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        background-color: #fff;

        &--popup {
          left: $width / 6;
          bottom: $height - 20;
          position: absolute;
          background: #fff;
          width: 520px;
          height: 80px;
          box-shadow: 0px 0px 10px #00000029;
          padding: 16px 25px;
          box-sizing: border-box;
          border-radius: 5px;
          opacity: 0;
          > h2 {
            font-size: 18px;
            margin: 0;
          }
          > p {
            font-size: 13px;
            margin: 10px 0 0 0;
          }
        }
        &__token {
          &-wrapper {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 28px;
            margin-left: 29px;
            flex: 1;
          }
          &-type {
            font-size: 25px;
          }
          &-image {
            width: 66px;
            height: 66px;
          }
        }
        &__data-container {
          display: flex;
          justify-content: space-between;
          flex: 1.25;
          align-items: center;
          padding: 30px;
        }
        &__data-wrapper {
          > p {
            margin: 0;
            text-align: center;
            &:first-child {
              color: #888888;
              font-size: 15px;
            }
            &:last-child {
              color: #333333;
              font-size: 20px;
              font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
              margin-top: 15px;
            }
          }
          &--popup {
            display: flex;
            align-items: center;
            > p {
              margin: 0;
              &:first-child {
                color: #888888;
                font-size: 15px;
              }
            }
            &__icon {
              font-size: 12px;
              line-height: 13px;
              border: 1px solid #4c4d72;
              width: 12px;
              height: 12px;
              text-align: center;
              border-radius: 12px;
              margin: 0 0 0 5px !important;
              cursor: pointer;
            }
          }
        }
      }
      &__container {
        width: 1190px;
        margin: 0 auto;
      }
      &__title__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 33px;
        > p {
          margin: 0 20px 0 0;
          white-space: nowrap;
          font-size: 20px;
          color: #333333;
        }
        > hr {
          width: 100%;
          height: 1px;
          border: 0px;
          background-color: #f0f0f1;
        }
      }
      &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1190px;
        margin-bottom: 100px;
      }
      &__pie-chart {
        margin: 0 auto;
        width: 240px;
        padding: 15px;
        &__data {
          border-top: 1px solid #f0f0f1;
          border-bottom: 1px solid #f0f0f1;
          padding: 20px 0;
          > div {
            display: flex;
            justify-content: space-between;
            > p {
              margin: 10px 0;
              font-size: 17px;
              font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
            }
          }
          &__block {
            width: 12px;
            height: 12px;
            border-radius: 3px;
            &__wrapper {
              display: flex;
              justify-content: left;
              gap: 10px;
              align-items: center;
              > p {
                font-size: 13px;
                color: #888888;
                margin: 0;
              }
            }
          }
          &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 13px;
            &:last-child {
              margin-bottom: 20px;
            }
            > p {
              font-size: 13px;
              margin: 0;
              color: #888888;
            }
            &--total {
              display: flex;
              justify-content: space-between;
              padding-bottom: 15px;
              border-bottom: 1px solid #f0f0f1;
              > p {
                font-size: 17px;
                margin: 0;
              }
            }
          }
        }
        &__wrapper {
          padding: 34px 29px;
          box-sizing: border-box;
          width: 383px;
          height: 620px;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 6px #00000029;
          border-radius: 5px;
        }
      }
      &__graph {
        margin: 0 auto;
        width: 700px;
        padding-bottom: 50px;
        box-sizing: border-box;
        &__converter {
          width: 155px;
          border-bottom: 5px solid #333333;
          padding-bottom: 10px;
          cursor: pointer;
          &--disable {
            width: 155px;
            border-bottom: 5px solid #b7b7b7;
            padding-bottom: 10px;
            cursor: pointer;
            > p {
              margin: 0;
              color: #b7b7b7;
              cursor: pointer;
            }
          }
          > p {
            margin: 0;
            color: #333333;
            cursor: pointer;
          }
          &__wrapper {
            padding: 34px 29px;
            display: flex;
            justify-content: left;
            align-items: center;
          }
        }
        &__wrapper {
          width: 776px;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 0px 6px #00000029;
          border-radius: 5px;
          height: 620px;
        }
      }
    }
  }

  .tokens {
    width: 1190px;
    margin: 0 auto;
    padding-bottom: 100px;
    &__title {
      margin: 126px 0 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      > p {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
      }
      > hr {
        width: 100%;
        height: 1px;
        border: 0px;
        background-color: #f0f0f1;
      }
    }
    &__container {
      margin-top: 85px;
    }
    &__header-wrapper {
      display: flex;
      justify-content: row;
      align-items: center;
    }
    &__header-line {
      flex: 1;
      height: 0px;
      border: 0px;
      margin: 0 0 0 17.5px;
      border-top: 1px solid #f0f0f1;
    }

    &__table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 15px;
      &__row {
        box-shadow: 0px 0px 6px #00000029;
        &:hover {
          box-shadow: 0px 0px 16px #00000029;
          transition: all 0.5 ease-in-out;
        }
        &--disable {
          &:hover {
            border-radius: 5px;
            background: #cccccca2;
          }
        }
      }
      &__button {
        width: 169px;
        height: 30px;
        border: 1px solid #333333;
        border-radius: 3px;
        margin: 0 auto;
        > p {
          font-size: 14px;
          color: #333333;
        }
        &--disable {
          width: 169px;
          height: 30px;
          border: 1px solid #b7b7b7;
          border-radius: 3px;
          margin: 0 auto;
          > p {
            font-size: 14px;
            color: #b7b7b7;
          }
        }
      }
      &__header {
        margin: 20px;
        &__column {
          position: relative;
          &--selected {
            position: relative;
          }
        }
        > tr > th {
          padding-bottom: 0 !important;
        }
      }
      &-body {
        cursor: pointer;
        &-button {
          border: 1px solid #333333;
          border-radius: 3px;
          cursor: pointer;
          > p {
            margin: 10px 5px;
            cursor: pointer;
          }
        }
        > tr {
          background: #ffffff;
          box-shadow: 0px 0px 6px #00000029;
          border-radius: 5px;
          margin: 20px;
          cursor: pointer;
          box-sizing: border-box;
          > :first-child {
            width: 150px;
            box-sizing: border-box;
            > div {
              > img,
              .tokens__table__image--disable {
                margin-left: 15px;
              }
            }
          }
          > :last-child {
            width: 220px;
            box-sizing: border-box;
          }
          > th {
            width: 205px;
            box-sizing: border-box;
            padding: 10px;
            > p {
              cursor: pointer;
              font-size: 17px;
              margin: 0;
            }
            &:first-child {
              > div {
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 10px;
                cursor: pointer;
              }
            }
            &:nth-child(3) > p {
              margin: 5px;
              &:nth-child(2) {
                font-size: 13px;
                margin: 5px;
                color: #888888;
              }
            }
            > div {
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              cursor: pointer;
              > p {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  @keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-moz-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-webkit-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-ms-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  @-o-keyframes Hovers {
    from {
      width: 0%;
      left: -20px;
      opacity: 0.5;
    }
    to {
      width: 100%;
      left: 0px;
      opacity: 1;
    }
  }
  .portfolio {
    &__container {
      display: flex;
      flex-direction: row;
      max-width: 1210px;
      margin: 0 auto;
      justify-content: space-between;
      margin: 60px auto;
    }
    &__investment-status {
      &__container {
        width: 746px;
        height: 634px;
        padding: 28px 32px 25px;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        > table {
          border: 1px solid #f0f0f1;
          width: 100%;
          border-collapse: collapse;
          height: 256px;
          > tr {
            > td {
              padding: 0px;
              border: 1px solid #f0f0f1;
              height: 33%;
            }
            :first-child {
              width: 270px;
              padding: 0px 28px;
              box-sizing: border-box;
              color: #888888;
              font-size: 17px;
            }
            :last-child {
              text-align: center;
              margin: 0 auto;
              padding: 0;
              > p {
                margin: 5px 0;
                padding: 0;
              }
              :first-child {
                color: #333333 !important;
                font-size: 17px !important;
                font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
              }
              :last-child {
                color: #888888;
                font-size: 13px;
              }
            }
          }
        }
      }
      &__title {
        font-size: 20px;
        margin: 0;
      }
    }
    &__asset-allocation {
      &__container {
        width: 417px;
        height: 634px;
        padding: 28px 25px 25px;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
      }
      &__title {
        font-size: 20px;
        margin: 0;
      }
      &__wrapper {
        width: 100%;
        height: 140px;
        border: 1px solid #f0f0f1;
        border-radius: 5px;
        padding: 22px 28px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div {
          display: flex;
          justify-content: left;
          gap: 10px;
          align-items: center;
          > div {
            border-radius: 3px;
            width: 12px;
            height: 12px;
          }
          > p {
            margin: 0;
            font-size: 13px;
          }
        }
        :nth-child(1) > div {
          background-color: #00bfff;
        }
        :nth-child(2) > div {
          background-color: #7d1dd6;
        }
        :nth-child(3) > div {
          background-color: #244dc4;
        }
      }
    }
    &__chart-wrapper {
      margin: 0 auto;
    }

    &__asset-list {
      &__container {
        max-width: 1210px;
        margin: 0 auto;
      }
      &__title {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
        &__wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 33px;
        }
        &__line {
          width: 100%;
          height: 1px;
          border: 0px;
          background-color: #f0f0f1;
        }
        &__button {
          border: 1px solid #888888;
          border-radius: 3px;
          padding: 7px 10px;
          white-space: nowrap;
          > p {
            color: #888888;
            font-size: 13px;
            margin: 0;
          }
        }
      }
      &__info {
        width: 379px;
        height: 600px;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 5px;
        cursor: pointer;
        > iframe {
          cursor: pointer;
        }
        &__container {
          display: grid;
          margin-bottom: 125px;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          grid-gap: 35px;
        }
        &__status {
          margin: 0;
          height: 62px;
          font-size: 17px;
          line-height: 62px;
          text-align: center;
          color: #333333;
          cursor: pointer;
        }
        &__value {
          margin: 17px 0;
          cursor: pointer;
          color: #888888;
          &__container {
            padding: 0 20px;
            box-sizing: border-box;
            cursor: pointer;
          }
          &__wrapper {
            border-bottom: 1px solid #f0f0f1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            > div {
              cursor: pointer;
              > p {
                cursor: pointer;
              }
              > span {
                cursor: pointer;
              }
            }
          }
          &__wrapper:last-child {
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    &__info {
      width: 1190px;
      margin: 0 auto;
      &__google-map {
        &__wrapper {
          width: 1190px;
          height: 541px;
          border: 1px solid #c0c0c0;
          border-radius: 5px;
          margin: 0 auto 105px;
        }
      }
      &__table {
        width: 100%;
        border-radius: 6px;
        border-spacing: 0px;
        border-collapse: separate;
        border: 1px solid #b7b7b7;
        margin-bottom: 40px;
        table-layout: fixed;
        > tr > td {
          border-left: 1px solid #b7b7b7;
          border-top: 1px solid #b7b7b7;
        }
        > tr:first-child {
          > td {
            border-top: 0px;
          }
          :first-child {
            border-radius: 5px 0 0 0;
          }
        }
        &__title {
          background-color: #41425c;
          width: 263px;
          border-left: 0px !important;
          box-sizing: border-box;
          > p {
            color: #ffffff;
          }
          &--last {
            background-color: #41425c;
            width: 263px;
            box-sizing: border-box;
            border-left: 0px !important;
            border-radius: 0 0 0 5px;
            > p {
              color: #ffffff;
            }
          }
          &--second {
            width: 263px;
            max-width: 263px;
            min-width: 263px;
            table-layout: fixed;
            > p {
              color: #888888;
            }
          }
        }
        > tr {
          > td {
            padding: 0px 17px;
            > p {
              margin: 10px 0px;
              line-break: anywhere;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .linkage {
    width: 1190px;
    margin: 100px auto 130px;
    &__logo {
      width: 90%;
      &__wrapper {
        width: 287px;
        height: 287px;
        border: 0;
        border-radius: 5px;
        background-color: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__title-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 33px;
      > p {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
      }
      > hr {
        width: 100%;
        height: 1px;
        border: 0px;
        background-color: #f0f0f1;
      }
    }
    &__status {
      > p {
        margin: 5px 0;
        font-size: 15px;
        color: #b7b7b7;
        &:first-child {
          font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
          font-size: 17px;
          color: #333333;
        }
      }
      &__value {
        margin: 0;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
      }
      &__title {
        margin: 36px 0 26px;
        > p {
          font-size: 20px;
        }
      }
      &__container {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 160px;
      }
      &__wrapper {
        border-bottom: 1px solid #e6e6e6;
        padding: 25px 26px 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__legal,
    &__collateral {
      &__providers {
        border-top: 2px solid #b7b7b7;
        border-bottom: 2px solid #b7b7b7;
        flex: 1;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
        &__title {
          border-bottom: 1px solid #f0f0f1;
          padding: 15px;
          margin: 0;
        }
        &__content {
          flex: 1;
          margin: 15px;
        }
        &__link {
          border-top: 1px solid #f0f0f1;
          padding: 15px;
          margin: 0;
        }
        &__container {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .guide {
    width: 1190px;
    margin: 100px auto 80px;
    > div div {
      margin-top: 50px;
    }
    &__alert {
      font-size: 17px;
      color: #cc1111;
    }
    &__link {
      color: #00a7ff;
      text-decoration: underline;
      cursor: pointer;
    }
    &__image {
      width: 400px;
      transition: 0.2s all ease-in-out;
      box-shadow: 0px 0px 3px #00bfff81;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      &:hover {
        box-shadow: 0px 0px 15px #00bfff81;
      }
    }
  }
  .bounty {
    width: 1190px;
    margin: 100px auto 80px;
    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 33px;
      > p {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
      }
      > hr {
        width: 100%;
        height: 1px;
        border: 0px;
        background-color: #f0f0f1;
      }
    }
    &__link {
      color: #00a7ff;
      text-decoration: underline;
      cursor: pointer;
    }
    > div {
      margin-bottom: 50px;
    }
    &__table {
      width: 100%;
      border-radius: 6px;
      border-spacing: 0;
      border-collapse: separate;
      border: 1px solid #b7b7b7;
      margin-bottom: 40px;
      table-layout: fixed;
      &__line {
        background-image: linear-gradient(
          to right bottom,
          #ffffff 49%,
          #b7b7b7,
          #ffffff 51%
        );
      }
      > tr td {
        padding: 0 17px;
        border-left: 1px solid #b7b7b7;
        border-top: 1px solid #b7b7b7;
      }
      > tr:first-child > td {
        border-top: 0;
      }
      > tr:first-child > td:first-child {
        border-left: 0px !important;
      }
    }
  }
  .text {
    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 35px;
      > p {
        margin: 0 20px 0 0;
        white-space: nowrap;
        font-size: 20px;
        color: #333333;
      }
      > hr {
        width: 100%;
        height: 1px;
        border: 0px;
        background-color: #f0f0f1;
      }
    }
  }
}
.pie-chart {
  display: inline-block;
  position: relative;
  width: 252px;
  height: 252px;
  border-radius: 50%;
  &__round {
    position: absolute;
    width: 212px;
    height: 212px;
    background: #fff;
    border-radius: 50%;
    top: 20px;
    left: 20px;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
  overflow: hidden;
  &__text-input {
    text-align: right;
    padding: 0;
    border: 0;
    background: none;
    color: #1c1c1c;
    font-size: 60px;
    width: 100%;
    float: right;
    font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
    outline: 0;
    transition: all 0.7s linear;
  }
  ::placeholder {
    color: #b7b7b7;
  }
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__button {
    width: 445px;
    height: 55px;
    background-color: #00bfff;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center;
    line-height: 55px;
    > p {
      font-size: 20px;
      margin: 0;
      color: #fff;
      cursor: pointer;
    }
  }
  &__button--disable {
    width: 445px;
    height: 55px;
    background-color: #b7b7b7;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center;
    line-height: 55px;
    > p {
      font-size: 20px;
      margin: 0;
      color: #fff;
    }
  }
  &__container {
    width: 514px;
    background-color: #fff;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    position: fixed;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    &__image {
      width: 41px;
      height: 41px;
    }
    &__name {
      font-size: 20px;
      margin: 0;
    }
    &__token-info-wrapper {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 15px;
    }
  }
  &__withdraw__value-wrapper,
  &__deposit__value-wrapper {
    background-color: #f0f0f1;
    height: 173px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
  }

  &--deposit {
    .modal {
      &__header {
        &__type {
          margin: 0;
          display: flex;
          justify-content: left;
          gap: 10px;
        }
      }
      &__converter {
        display: flex;
        &__column {
          flex: 1;
          text-align: center;
          cursor: pointer;
          > p {
            color: #b7b7b7;
            cursor: pointer;
          }
          &--selected {
            flex: 1;
            text-align: center;
            border-bottom: 3px solid #00bfff;
            cursor: pointer;
            > p {
              color: #00bfff;
              cursor: pointer;
            }
          }
        }
      }
      &__withdraw,
      &__deposit {
        &__maximum {
          margin: 0;
          display: flex;
          font-size: 20px;
          color: #b7b7b7;
          cursor: pointer;
        }
        &__value {
          margin: 0 0 0 20px;
          font-size: 60px;
          color: #333333;
          &-converter {
            margin: 0px;
            font-size: 15px;
            color: #b7b7b7;
            &-wrapper {
              padding: 15px 26px;
              text-align: right;
              border-bottom: 2px solid #f0f0f1;
            }
          }
        }
      }
      &__withdraw {
        &__withdrawalable {
          border-bottom: 2px solid #f0f0f1;
          &__title {
            > p {
              color: #b7b7b7;
              font-size: 13px;
              margin: 0px 0px 16px !important;
            }
          }
          &-amount-wrapper {
            margin: 36px 26px 0px;
            padding-bottom: 36px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid #f0f0f1;
            > div {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }
          &-value-wrapper {
            margin: 36px 26px 31px;
            > div {
              display: flex;
              justify-content: space-between;
              > p {
                margin: 20px 0;
                font-size: 15px;
              }
            }
          }
        }
      }
      &__deposit {
        &__container {
          border-bottom: 2px solid #f0f0f1;
        }
        &__despositable {
          &-amount {
            &-container {
              margin: 36px 26px 0px;
              padding-bottom: 36px;
              justify-content: space-between;
              border-bottom: 1px solid #f0f0f1;
              > p {
                margin: 0 0 25px 0;
                color: #b7b7b7;
                font-size: 13px;
              }
            }
            &-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              > div {
                text-align: right;
                > p {
                  margin: 2.5px 0px;
                  font-size: 15px;
                }
                // > p:last-child {
                //   color: #888888;
                //   font-size: 13px;
                // }
              }
            }
          }
          &-value {
            &-wrapper {
              margin: 36px 26px 31px;
              > p {
                margin: 0 0 16px;
                color: #b7b7b7;
                font-size: 13px;
              }
              > div {
                display: flex;
                justify-content: space-between;
                > p {
                  margin: 20px 0;
                }
              }
            }
          }
        }
      }
    }
  }
  &--minted {
    .modal {
      &__body {
        background-color: #f0f0f1;
        height: 173px;
        display: flex;
        justify-content: space-between;
        padding: 0px 40px;
        align-items: center;
        &__maximum {
          margin: 0;
          display: flex;
          font-size: 20px;
          color: #b7b7b7;
          cursor: pointer;
        }
        &__value {
          margin: 0;
          display: flex;
          font-size: 60px;
          color: #b7b7b7;
        }
      }
      &__footer {
        border-bottom: 1px solid #f0f0f1;
        &__text {
          margin: 28px;
          color: #262626;
        }
        &__amount-wrapper {
          margin: 0px 28px 28px;
        }
        &__amount-text {
          display: inline-block;
          margin: 0;
          color: #888888;
        }
        &__amount {
          display: inline-block;
          margin: 0;
          float: right;
          color: #888888;
        }
      }
    }
  }
}
.close-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  &--1 {
    height: 25px;
    width: 2px;
    margin-left: 12.5px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
  }
  &--2 {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
  }
}

/* Footer */

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 1190px;
  &--dashboard {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;
  }
  &__white-logo {
    display: inline;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
  }
  &__logo-wrapper {
    display: flex;
    float: right;
    width: 120px;
    height: 26px;
    justify-content: space-between;
    align-items: center;
  }
  .lang {
    position: relative;
    cursor: pointer;
    &__select-image {
      display: inline-block;
      width: 26px;
      height: 26px;
      &__text {
        display: inline-block;
        color: #fff;
      }
    }
    &__image-wrapper {
      justify-content: space-between;
      flex-direction: column;
      position: absolute;
      bottom: 55px;
      height: 63px;
    }
    &__button-wrapper {
      justify-content: space-between;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      width: 100px;
    }
    &__select-image__text {
      cursor: pointer;
    }
  }
}

.google-visualization-tooltip {
  border: 0 !important;
  -webkit-box-shadow: none !important;
  background-color: #ffffff !important;
  // box-shadow: 0px 0px 6px #00000029 !important;
  border-radius: 5px;
  padding: 8px;
  width: 220px !important;
  ul li {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    > span {
      color: #888888 !important;
      font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold" !important;
      &:nth-child(2) {
        flex: 1;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold" !important;
      }
      &:last-child {
        color: #00bfff !important;
      }
    }
    > div {
      display: none !important;
    }
    &:first-child {
      display: none !important;
    }
    &:last-child {
      &::after {
        content: "%";
        color: #00bfff;
        font-family: "Montserrat-bold", "SpoqaHanSansNeo-Bold";
      }
    }
  }
}
.market__detail__graph div div div div svg g {
  // transform: scale(1.2) translate(-10%, -10%);
  > g rect {
    rx: 5;
    ry: 5;
    &:hover {
      fill: #00a7ff;
      stroke: transparent;
      z-index: 99;
      rx: 5;
      ry: 5;
    }
  }
  > g g g rect {
    fill: #00a7ff;
    stroke: transparent;
    z-index: 99;
    rx: 5;
    ry: 5;
  }
  > g g circle {
    stroke: transparent;
    fill: #1c5e9a;
    r: 6;
  }
}

.loading-indicator {
  height: 450px;
  &__text {
    position: absolute;
    bottom: 30px;
    font-size: 24px;
    text-align: center;
    width: 100%;
    right: 10px;
    > p {
      display: inline;
    }
    &::after {
      content: "....";
      position: absolute;
      width: 30px;
      animation: changeContent 3s linear infinite alternate;
      text-align: left;
      margin-left: 5px;
    }
  }

  .loader {
    height: 100%;
    width: 100%;
  }
  .loader .l_main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 172px;
    height: 128px;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  @media (max-width: 550px) {
    .loader {
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
    }
  }
  @media (max-width: 440px) {
    .loader {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  .l_square {
    position: relative;
  }
  .l_square:nth-child(1) {
    margin-left: 0px;
  }
  .l_square:nth-child(2) {
    margin-left: 44px;
  }
  .l_square:nth-child(3) {
    margin-left: 88px;
  }
  .l_square:nth-child(4) {
    margin-left: 132px;
  }
  .l_square span {
    position: absolute;
    top: 0px;
    left: 20px;
    height: 36px;
    width: 36px;
    border-radius: 2px;
    background-color: #00bfff;
  }
  .l_square span:nth-child(1) {
    top: 0px;
  }
  .l_square span:nth-child(2) {
    top: 44px;
  }
  .l_square span:nth-child(3) {
    top: 88px;
  }
  .l_square:nth-child(1) span {
    -webkit-animation: animsquare1 2s infinite ease-in;
    animation: animsquare1 2s infinite ease-in;
  }
  .l_square:nth-child(2) span {
    -webkit-animation: animsquare2 2s infinite ease-in;
    animation: animsquare2 2s infinite ease-in;
  }
  .l_square:nth-child(3) span {
    -webkit-animation: animsquare3 2s infinite ease-in;
    animation: animsquare3 2s infinite ease-in;
  }
  .l_square:nth-child(4) span {
    -webkit-animation: animsquare4 2s infinite ease-in;
    animation: animsquare4 2s infinite ease-in;
  }
  .l_square span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .l_square span:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .l_square span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  @-webkit-keyframes animsquare1 {
    0%,
    5%,
    95%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    30%,
    70% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare1 {
    0%,
    5%,
    95%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    30%,
    70% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @-webkit-keyframes animsquare2 {
    0%,
    10%,
    90%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    35%,
    65% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare2 {
    0%,
    10%,
    90%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    35%,
    65% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @-webkit-keyframes animsquare3 {
    0%,
    15%,
    85%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    40%,
    60% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare3 {
    0%,
    15%,
    85%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    40%,
    60% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @-webkit-keyframes animsquare4 {
    0%,
    20%,
    80%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    45%,
    55% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }
  @keyframes animsquare4 {
    0%,
    20%,
    80%,
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    45%,
    55% {
      -webkit-transform: translate(-40px, 0px) rotate(-90deg);
      transform: translate(-40px, 0px) rotate(-90deg);
    }
  }

  @-webkit-keyframes changeContent {
    0% {
      content: ".";
    }
    25% {
      content: "..";
    }
    50% {
      content: "...";
    }
    75% {
      content: "....";
    }
    100% {
      content: ".....";
    }
  }
  @keyframes changeContent {
    0% {
      content: ".";
    }
    25% {
      content: "..";
    }
    50% {
      content: "...";
    }
    75% {
      content: "....";
    }
    100% {
      content: ".....";
    }
  }
}

.pin {
  position: absolute;
  border-radius: 50%;
  border: 8px solid #00bfff;
  width: 8px;
  height: 8px;
}

.pin::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #00bfff;
}
